# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>AJS, "TwoPhoton Import", ajs.tools.TwoPhoton_Import
Plugins>AJS, "Get 2p Info", ajs.tools.TwoPhoton_Import("printexloc")
Plugins>AJS, "Slicelabel Transfer", ajs.tools.Slicelabel_Transfer
Plugins>AJS, "Slicelabel Editor", ajs.tools.Slicelabel_Editor
Plugins>AJS, "Info Editor", ajs.tools.Slicelabel_Editor("editInfo")
Plugins>AJS, "Print Times", ajs.tools.Time_Extractor("printTimes")
Plugins>AJS, "Diameter Profile", ajs.tools.Diameter_Profile
Plugins>AJS, "Copy Stack Roi Means", ajs.tools.AJ_Misc_Plugins("copyStackRoiMeans")
Plugins>AJS, "Stack Trimmer", ajs.tools.StackTrimmer
Plugins>AJS, "Normalize Brightness", ajs.tools.AJ_Misc_Plugins("normalizeBrightness")
Plugins>AJS, "Run AJS-Tools plugin", ajs.tools.AJ_Utils
Plugins>AJS, "Thresh-Cell-Transfer", ajs.tools.Thresh_Cell_Transfer
Plugins>AJS, "Image Translator by Pt", ajs.tools.AJ_Misc_Plugins("ptTranslator")
Plugins>AJS, "T Projector", ajs.tools.AJ_Misc_Plugins("TProjector")
Plugins>AJS, "Z Step Max", ajs.tools.AJ_Misc_Plugins("zStepMax")
Plugins>AJS, "GCaMP Data and Figure", ajs.tools.GCaMP_Data
Plugins>AJS, "Skull Leveler", ajs.tools.AJ_Misc_Plugins("SkullLeveler")
Plugins>AJS, "AJ Options", ajs.tools.TwoPhoton_Import("options")

